
body{
    background-color: rgba(235, 228, 195, 0.579);
    box-sizing: border-box;

}

.calculate_box{
    width: fit-content;
    padding:10px 10px;
    margin:150px auto;
    background-color: rgba(147, 63, 243, 0.688);
    border-radius: 5px;
    box-shadow: 2px 2px 6px 1px #262626;
    overflow: hidden;                                   /*overflow set the size of content in face of itself*/
                                                        /*It has 4 state : 1-visible(defult) 2-hidden 3-scroll 4-auto*/
}
.back{
    background-color: azure;
    border-radius: 4px;
    
    width:200px;
}

.screen{
    
    width:89%;
    height: 70px;
    padding: 10px 10px;
    background-color: rgba(32, 22, 137, 0.288);
    border-radius: 4px;
    border:2px solid #1f1a2174;
    
    text-align: right;
    font-size: 20px;
    pointer-events: none;
}

.btn input{
    width:40px;
    height:40px;
    box-shadow: 1px 1px 3px  #2c2b2b;
    font-size: 20px;
    font-weight: 800px;                                             /*set how much bolder do you want*/
    padding:2px 2px ;
    margin-left: 5px;
    cursor: pointer;
}

.operation  input{
    background-color:rgba(40, 112, 88, 0.856);
    border:0;
    
}
#equality{
    width:100%;
    background-color: rgba(15, 96, 69, 0.853);
    margin-left:3px;
}
#clear{
    background-color: rgba(110, 21, 35, 0.784);
}